.well{
	padding: 10px;
	background: rgba(100,100,100,0.4);
	border-radius: 10px;
}
._invisibleBtn{
    background: transparent;
    border: none !important;
    width: 0;
    height: 0;
    padding: 0;
}
#_messageArea{
	display: none;
}
._left{
	justify-content: flex-start;
}
._right{
	justify-content: flex-end;
}
._sent{
	background: rgba(0,0,255,.4);
}
._received{
	background: rgba(0,255,0,.4);
}
._chatMessageContainer{
	display: flex;
	width: 100%;
	min-height: 50px;
	padding:5px; 

	._chatMessage{
		max-width: 80%;
		._chatWords{
			word-wrap: break-word;
		}
	}
}

/*ADMIN PANEL*/
#_admin-panel{
	#_messageArea{
		height:350px;
		justify-content: space-between;
		align-items: stretch;
		#_importants{
			display: none;
			position: fixed;
			top:0;
			right:0;
			background:rgba(255,0,0,.5);
			border-radius:15px;
			padding:10px;
			font-weight:bold;
		}
		#_user-messages{
			width: 25%;
		}
		#_users{
			display: flex;
    		flex-direction: column;
    		background-color:transparent;
    		._user-chat{
    			display: flex;
    			justify-content: space-between;
    			margin-bottom: 3px;
    			._new-msg-light{
				    display: none;
    				width: 8px;
				    height: 8px;
				    border-radius: 15px;
				    background: #ff0000;
    			}
    		}
		}
		#_admin-chat{
			padding:10px;
			background:#efefef;
			border-radius:5px;
			width: 70%;
			display: flex;
			flex-direction: column;

			#_chat{
				display: flex;
				flex-direction: column;
				background:#fff;
				border-radius:5px;
				height: 90%;
			}
		}
	}
}

/*MINI CHAT*/
#_minichat{
	._miniwell{
		padding: 10px;
		border-radius: 5px 5px 0 0;
	}
	h4{
		font-size: 1.1em;
	}

	width: 300px;
    background: rgba(200,200,200,.4);
    border-radius: 5px;


	#_connectWith{
	    display: flex;
	    align-items: baseline;
	    p{
	    	font-size:1.2;
	    }
	    ._mini-ul{
	    	display: flex;
	    	justify-content: space-around;
			li{
				padding:3px;
			}
		}
	}
	#_messageArea{
		flex-direction: column;
		#_importants{
			display: none;
			// position: fixed;
			// top:0;
			// right:0;
			background:rgba(255,0,0,.5);
			border-radius:15px 15px 0 0;
			padding:10px;
			font-weight:bold;
		}
	}

	._mini-chat-area{
		height: 300px;
		overflow:hidden;
		overflow-y:scroll;
		background:#fff;
	}
	#_messageForm{
		padding: 0 10px 0 10px;
		margin-bottom:0;
	}

}







